<!DOCTYPE html>
<html>
<head>
    <title>ComeOn Javascript Test</title>
    <link href="images/favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" type="text/css" href="stylesheets/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>

    <script src="lib/jquery-2.1.3.min.js"></script>
    <script src="lib/jquery.mockjax-1.6.1.min.js"></script>
    <script src="lib/comeon.game-1.0.min.js"></script>
    <script src="mock/mock-api.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="app.js"></script>


</head>
<body ng-app="cmonApp" ng-controller="MainController">

    <script type="text/ng-template" id="login.html">
        <div class="login">
            <div class="ui grid centered">
                <form name="loginform" novalidate>
                    <div class="fields">
                        <div class="required field">
                            <div class="ui icon input" ng-class="{'error' : !loginform.$pristine && loginform.username.$invalid }">
                                <input type="text" maxlength="30" placeholder="Username" name="username" ng-model="username" required/>
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="required field">
                            <div class="ui icon input" ng-class="{error : loginform.password.$invalid && !loginform.$pristine}">
                                <input type="password" maxlength="30" placeholder="Password" name="password" ng-model="password" required/>
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui icon input">
                                <input type="button" value="Login" ng-click="login($event)"/>
                                <i class="right chevron icon"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="games.html">
        <div class="casino">
            <div class="ui grid centered">
                <div class="twelve wide column">
                    <div class="ui list">

                        <!-- player item template -->
                        <div class="player item">
                            <img class="ui avatar image" ng-src="{{AuthenticatedUser.avatar}}" alt="avatar">

                            <div class="content">
                                <div class="header"><b class="name">{{AuthenticatedUser.name}}</b></div>
                                <div class="description event">{{AuthenticatedUser.event}}</div>
                            </div>
                        </div>
                        <!-- end player item template -->

                    </div>
                    <div class="logout ui left floated secondary button inverted" ng-click="logout()">
                        <i class="left chevron icon"></i>Log Out
                    </div>
                </div>
                <div class="four wide column">
                    <div class="search ui small icon input ">
                        <input type="text" ng-model="searchText" placeholder="Search Game">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="twelve wide column">
                    <h3 class="ui dividing header">Games</h3>

                    <div class="ui relaxed divided game items links">

                        <!-- game item template -->
                        <div class="game item" ng-repeat="game in games | filter:categoryFilter | filter:searchText">
                            <div class="ui small image">
                                <img ng-src="{{game.icon}}" alt="game-icon">
                            </div>
                            <div class="content">
                                <div class="header"><b class="name">{{game.name}}</b></div>
                                <div class="description">{{game.description}}
                                </div>
                                <div class="extra">
                                    <div ng-click="play(game.code)" class="play ui right floated secondary button inverted">
                                        Play
                                        <i class="right chevron icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end game item template -->

                    </div>
                </div>
                <div class="four wide column">
                    <h3 class="ui dividing header">Categories</h3>

                    <div class="ui selection animated list category items">

                        <!-- category item template -->
                        <div class="category item" ng-repeat="cat in categories" ng-click="setCategory(cat.id)">
                            <div class="content">
                                <div class="header">{{cat.name}}</div>
                            </div>
                        </div>
                        <!-- end category item template -->

                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="play.html">
        <div class="ingame">
        <div class="ui grid centered">
                <div class="three wide column">
                    <div class="ui right floated secondary button inverted" ng-click="goBack()"><i class="left chevron icon"></i>Back
                    </div>
                </div>
                <div class="ten wide column">
                    <div id="game-launch">
                    </div>
                </div>
                <div class="three wide column"></div>
            </div>
        </div>
    </script>


    <div class="ui one column center aligned page grid">
        <div class="column twelve wide">
            <img src="images/logo.png" alt="logo">
        </div> 
    </div>
    <div class="main container">
        <div ng-view ></div>
    </div>
</body>
</html>
